/*SecondButton*/
.second-button button{
    height: 9vh;
    width: 15vw;
    font-size: 1.7vw;
    border-radius: 10px;
    border: 0px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.351);
    color: #333;
    background-color: #f4ce14;
}

.second-button button:hover{
    color: #f4ce14;
    background-color: #EDEFEE;
    cursor: pointer;
}

/*MainButton*/
.main-button button{
    height: 9vh;
    width: 15vw;
    font-size: 1.7vw;
    border-radius: 10px;
    border: 0px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.351);
    color: #333;
    background-color: #f4ce14;
}

.main-button button:hover{
    color:#f4ce14;
    background-color: #495E57;
    cursor: pointer;
}

/*DishCategory*/
.dish-category-button button{
    height: 7vh;
    width: 13vw;
    font-size: 1.6vw;
    border-radius: 20px;
    border: 0px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.351);
    color: #495E57;
    background-color: #EDEFEE;
}

.dish-category-button button:hover{
    color:#EDEFEE;
    background-color: #495E57;
    cursor: pointer;
}

/*AddToBasket*/
.add-to-basket button{
    height: 9vh;
    width: 19vw;
    font-size: 2.1vw;
    border-radius: 25px;
    border: 0px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.351);
    color: #495E57;
    background-color: #F4CE14;
}

.add-to-basket button:hover{
    color:#EDEFEE;
    background-color: #495E57;
    cursor: pointer;
}

/*OccasionButton*/
.occasion-button{
    position: relative;
    font-family: Arial;
}

select::-ms-expand {
    display: none; /* Hide the default arrow in IE/Edge */
}


select{
    width: 8vw;
    height: 7vh;
    outline: none;
    background-color: #F4CE14;
    color: #495E57;
    border-radius: 3px;
    border: none;
    margin-bottom: 0.5vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
}

option{
    background-color: #EDEFEE;
    color: #495E57;
    border-radius: 0px;
}

option:hover{
    background-color: #EDEFEE;
}

/*FormInput*/
.input b{
    color: #F4CE14;
    font-weight: bolder;
}

.input input{
    width: 20vw;
    height: 4vh;
    border-radius: 7px;
    font-size: 1.3vw;
    font-weight: normal;
    box-shadow: 1.5px 2px 2px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid gray;
}

.input label{
    color: #495E57;
    font-size: 1.35vw;
}

/*ReserveButton*/
.reserve-button button{
    padding: 0.5vw 2vw;
    font-size: 1.3vw;
    border-radius: 5px;
    border: none;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.351);
}

.reserve-button button:hover{
    background-color: #F4CE14;
    padding: 0.5vw 2vw;
    font-size: 1.3vw;
    border-radius: 5px;
    border: none;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.351);
}