.second-button button{
    height: 9vh;
    width: 15vw;
    font-size: 1.7vw;
    border-radius: 10px;
    border: 0px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.351);
    color: #333;
    background-color: #f4ce14;
}

.second-button button:hover{
    color: #f4ce14;
    background-color: #EDEFEE;
    cursor: pointer;
}

.main-button button{
    height: 9vh;
    width: 15vw;
    font-size: 1.7vw;
    border-radius: 10px;
    border: 0px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.351);
    color: #333;
    background-color: #f4ce14;
}

.main-button button:hover{
    color:#f4ce14;
    background-color: #495E57;
    cursor: pointer;
}

.dish-category-button button{
    height: 7vh;
    width: 13vw;
    font-size: 1.6vw;
    border-radius: 20px;
    border: 0px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.351);
    color: #495E57;
    background-color: #EDEFEE;
}

.dish-category-button button:hover{
    color:#EDEFEE;
    background-color: #495E57;
    cursor: pointer;
}

.add-to-basket button{
    height: 9vh;
    width: 19vw;
    font-size: 2.1vw;
    border-radius: 25px;
    border: 0px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.351);
    color: #495E57;
    background-color: #F4CE14;
}

.add-to-basket button:hover{
    color:#EDEFEE;
    background-color: #495E57;
    cursor: pointer;
}


.ocasion-button{
    position: relative;
    font-family: Arial;
}

select::-ms-expand {
    display: none; /* Hide the default arrow in IE/Edge */
}

label:after {
    content: '<>';
    font: 11px "Consolas", monospace;
    color: #666;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 2px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
  }
  label:before {
    content: '';
    right: 6px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #eee;
    position: absolute;
    pointer-events: none;
    display: block;
  }

select{
    width: 8vw;
    
    outline: none;
    background-color: #F4CE14;
    color: #495E57;
    border-radius: 5px;
    border: none;
    margin-bottom: 0.5vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
}

option{
    background-color: #EDEFEE;
    color: #495E57;
    border-radius: 0px;
}

option:hover{
    background-color: #EDEFEE;
}

