nav{
    max-width: 100vw;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 1.5vw;
}

.nav-logo{
    width: 20vw;
    height: 9vh;
}

.nav-text{
    color: #333;
    font-family: Inter;
    font-size: 1.7vw;

}

.nav-text:hover{
    color: #F4CE14;
}

.nav-basket{
    width: 4vw;
    height: 9vh;
}